html { 
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#email_reg {
  text-align: center;
  max-height:750px;
  max-width:640px;
  height:100%;
  margin-left: auto;
  margin-right: auto;
}

#test {
  padding-top: 10%;
}

#email_reg_form input[type=text],
#email_reg_form input[type=email] {
  width: 99%;
  font-size: 30px;
}                    

.box {
  background-color: #aaa;
  border: solid 6px #fff;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-color: white;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

#messages {
  font-size: 20px;
  background-color: #333;
  color: #ccc;
  text-align: center;
  font-weight: bold;
}

#messages p {
  margin: 0px;
  padding: 20px;
}

#messages p.info {
  color: #aea;
}

#message p.error {
}

#main {
  height: 400px;
  background:#aeb0b3;
}

#outter-grad {
  background:url('http://westergaard.com/outtodinner/img/grad-slice.jpg');
  background-repeat:repeat-x;
}

#radial-grad {
  background:url('http://westergaard.com/outtodinner/img/gradient.jpg');
  background-repeat:no-repeat;
  background-position:top center;
}

#main-content {
  transition: width 2s, height 2s, transform 2s;
  -moz-transition: width 2s, height 2s, -moz-transform 2s;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  -o-transition: width 2s, height 2s,-o-transform 2s;
  margin: 0px auto 30px;
  max-width: 700px;
  width: 100%;
  padding: 20px;
  background-color: white;
  min-height: 240px;
  background-image: -webkit-gradient(radial, center center, circle farthest-corner, from(#eeeeee), to(#cccccc));
  background-image: -webkit-radial-gradient(center center, circle farthest-corner, #eeeeee, #cccccc);
  background-image:    -moz-radial-gradient(center center, circle farthest-corner, #eeeeee, #cccccc);
  background-image:     -ms-radial-gradient(center center, circle farthest-corner, #eeeeee, #cccccc);
  background-image:      -o-radial-gradient(center center, circle farthest-corner, #eeeeee, #cccccc);
  background-image:         radial-gradient(center center, circle farthest-corner, #eeeeee, #cccccc);

  -webkit-box-shadow: 0 0 71px 11px rgba(255,255,255,0.5);
  -moz-box-shadow: 0 0 71px 11px rgba(255,255,255,0.5);
  box-shadow: 0 0 71px 11px rgba(255,255,255,0.5);

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

}

.thanks #main-content {
  background-color: #9A5BA3;
  background-image: -webkit-gradient(radial, center center, circle farthest-corner, from(#e19feb), to(#9a5ba3));
  background-image: -webkit-radial-gradient(center center, circle farthest-corner, #e19feb, #9a5ba3);
  background-image:    -moz-radial-gradient(center center, circle farthest-corner, #e19feb, #9a5ba3);
  background-image:     -ms-radial-gradient(center center, circle farthest-corner, #e19feb, #9a5ba3);
  background-image:      -o-radial-gradient(center center, circle farthest-corner, #e19feb, #9a5ba3);
  background-image:         radial-gradient(center center, circle farthest-corner, #e19feb, #9a5ba3);

  -webkit-box-shadow: 0 0 71px 11px rgba(255,255,255,0.5);
  -moz-box-shadow: 0 0 71px 11px rgba(255,255,255,0.5);
  box-shadow: 0 0 71px 11px rgba(255,255,255,0.5);
}

#logo {
  display:block;
  margin:0 auto;
  max-width:260px;
  width:75%;
  padding:18px 0;
}	

#help {
  text-align: center;
  font-weight: bold;
  color: #555;
}

#buttons {
  max-width: 100%;
  margin:10px auto;
}

.notbutton {
  background:#666666;
  border-radius:7px;
  width:100%;
  text-align:center;
  margin:10px 0;
}


.button {
  background:#9A5BA3;
  border-radius:7px;
  width:100%;
  padding:25px 0px;
  text-align:center;
  margin:30px 0;
}

.button:hover {
  background:#6E3A77;
  cursor:pointer;
}

.button2 {
  margin:10px 0;
}

.button2:hover {
  background:#6E3A77;
  cursor:pointer;
}

.button3 {
  height: 40%;
  margin-top: 10px;
  margin-right: 15px;
}

.button3:hover {
  background:#6E3A77;
  cursor:pointer;
}

.button3 input {
  position: relative;
  top: 15px;
  height: 40px;
}

.button3.on {
  background: #6E3A77;
}

.button.disabled {
  background: #888;
}

#signup {
  float:left;
}

#donate {
  float:right;
  display:none;
}

#signup img {
  max-width:101px;
  margin:25px 0;
}

#donate img {
  max-width:98px;
  margin:25px 0;
}

#login img {
  max-width:70px;
  margin:10px 0;
}

#socials {
  width:220px;
  height:70px;
  margin:30px auto;
}

.soc {
  float:left;
}	

.twit {
  width:56px;
  margin:0 10px;
}

.fb {
  width:50px;
  margin:0 10px;
}	

.plus {
  width:50px;
  margin:0 10px;
}

#thanks {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

#thanks p {
  font-size:15px;
  color:#ffffff;
  padding:0px 20px 20px 30px;
}

#thanks h1 {
  font-size: 25px;
  color:#ffffff;
  padding:20px 20px 20px 30px;
}

#footer {
  text-align:center;
  width:100%;
}

#footer p {
  font-family:Helvetica;
  color:#97999c;
  font-size:12px;
  padding:10px 10px 20px;

}

#footer a {
  color:#9A5BA3;
  font-size:15px;
  padding:10px 10px 20px;
}

#footcopy {
}

#footnav {
}

/* For modern browsers */
.cf:before,
.cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom:1;
}

